[package]
name = "nx-ui-login"
version = "0.0.0"

license.workspace = true
repository.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
bevy.workspace = true
egui.workspace = true
nx-ui.workspace = true
