[package]
name = "nexus-vr"
version = "0.0.0"
description = "FOSS Social VR here we come"

license.workspace = true
repository.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true


[workspace]
resolver = "2"
members = ["crates/bevy_suis_lasers", "crates/dummy"]

# These settings will apply to all members of the workspace that opt in to them
[workspace.package]
edition = "2021"
license = "MIT-0 OR Apache-2.0"
repository = "https://github.com/NexusSocial/nexus-vr"
rust-version = "1.81.0"

[workspace.lints.clippy]
too_many_arguments = "allow"
type_complexity = "allow"


[workspace.dependencies]


[dependencies]
uuid = "1.10.0"
bevy_derive = "0.14.2"
serde = { version = "1.0.210", features = ["derive"] }
bevy = { version = "0.14.2", features = ["serialize"] }
bevy_matchbox = "0.10.0"
futures-channel = "0.3.30"
bincode = "1.3.3"
avian3d = { version = "0.1.2", features = ["serialize"] }
bevy_embedded_assets = "0.11.0"
bevy_web_file_drop = "0.0.6"
bevy_vr_controller = { git = "https://github.com/Schmarni-Dev/bevy_vr_controller/" }
bevy_mod_openxr = { git = "https://github.com/awtterpip/bevy_oxr" }
bevy_xr_utils = { git = "https://github.com/awtterpip/bevy_oxr" }
bevy_spatial_egui = { git = "https://github.com/Schmarni-Dev/bevy_spatial_egui" }
bevy_egui = "0.29.0"
bevy-suis = { git = "https://github.com/Schmarni-Dev/bevy-suis", branch = "further_work" }
bevy_vrm = "0.0.12"
egui-aesthetix = { version = "0.2.4", features = ["tokyo_night", "default"] }
bevy_suis_lasers = { path = "./crates/bevy_suis_lasers" }


[profile.release]
lto = true
codegen-units = 1
opt-level = "z"
panic = "abort"

[profile.dev]
opt-level = 3
