[workspace]
resolver = "2"
members = [
	"apps/rvid/client",
	"apps/rvid/server",
	"apps/social/client",
	"apps/social/server",
	"apps/social/common",

	"crates/nexus-voicechat",
	"crates/universal-capture",

	"crates/local-ci",
]

# These settings will apply to all members of the workspace that opt in to them
[workspace.package]
version = "0.0.0"
license = "MIT OR BSD-2-Clause-Patent"
repository = "https://github.com/NexusSocial/nexus-vr"
edition = "2021"
rust-version = "1.74.1"

[workspace.dependencies]
bevy = "0.12"
bevy_oxr = { git = "https://github.com/awtterpip/bevy_oxr", rev = "1cf8663", default-features = false }
color-eyre = "0.6"
eyre = "0.6"
openxr = "0.17"
bevy_mod_inverse_kinematics = "0.5"
bevy_egui = "0.23"
egui = "0.23"
bevy-inspector-egui = "0.21.0"
bevy_web_asset = "0.7.0"
bevy_vrm = "0.0.6"
social-common.path = "apps/social/common"
lightyear = { version = "0.2.0", features = []}
serde = "1.0.193"
#blake3 = {version = "1.5.0", features = ["pure"]}

[profile.dev]
# Enable a small amount of optimization in debug mode
opt-level = 1

# Enable high optimizations for dependencies, but not for our code:
[profile.dev.package."*"]
opt-level = 2

[patch.crates-io]
# Adds `links` support
#openxr = { git = "https://github.com/Ralith/openxrs", rev = "361b27e", features = ["mint"] }
