[graph]
all-features = true

[advisories]
version = 2
ignore = [
]

[licenses]
version = 2
allow = [
	"0BSD",
	"Apache-2.0",
	"Apache-2.0 WITH LLVM-exception",
	"BSD-2-Clause",
	"BSD-3-Clause",
	"BSL-1.0",
	"CC0-1.0",
	"ISC",
	"MIT",
	"MIT-0",
	"Unlicense",
	"Zlib",
	"MPL-2.0",
	"LicenseRef-ring",
]

[bans]
multiple-versions = "warn"
# Certain crates that we don't want multiple versions of in the dependency tree
deny = [
	{ name = "bevy", deny-multiple-versions = true },
	{ name = "tokio", deny-multiple-versions = true },
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
# please don't make this list any longer qwq
allow-git = []
