[graph]
all-features = true
# cargo-deny is really only ever intended to run on the "normal" tier-1 targets
targets = [
	"x86_64-unknown-linux-gnu",
	"aarch64-unknown-linux-gnu",
	"x86_64-unknown-linux-musl",
	"aarch64-apple-darwin",
	"x86_64-apple-darwin",
	"x86_64-pc-windows-msvc",
]

[advisories]
unmaintained = "workspace"

[licenses]
allow = [
	"0BSD",
	"Apache-2.0 WITH LLVM-exception",
	"Apache-2.0",
	"BSD-2-Clause",
	"BSD-3-Clause",
	"BSL-1.0",
	"CC0-1.0",
	"ISC",
	"LicenseRef-ring",
	"MIT",
	"MIT-0",
	"MPL-2.0",
	"Unicode-3.0",
	"Unlicense",
	"Zlib",
]

[[licenses.exceptions]]
allow = ["Ubuntu-font-1.0", "OFL-1.1"]
name = "epaint_default_fonts"

[[licenses.exceptions]]
# https://github.com/emilk/egui/issues/2321
allow = ["OFL-1.1", "LicenseRef-UFL-1.0"]
name = "epaint"

[[licenses.clarify]]
expression = "LicenseRef-ring"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]
name = "ring"

[bans]
multiple-versions = "warn"
# Certain crates that we don't want multiple versions of in the dependency tree
deny = [
	{ name = "bevy", deny-multiple-versions = true },
	{ name = "tokio", deny-multiple-versions = true },
]
skip-tree = [
	{ crate = "windows-sys", reason = "a foundational crate for many that bumps far too frequently to ever have a shared version" },
]

[sources]
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
unknown-git = "deny"
unknown-registry = "deny"
# please don't make this list any longer qwq
allow-git = [
	"https://github.com/Schmarni-Dev/bevy-suis",
	"https://github.com/awtterpip/bevy_oxr",
	"https://github.com/unavi-xyz/bevy_vr_controller",
	"https://github.com/Schmarni-Dev/bevy_spatial_egui",
	"https://github.com/Schmarni-Dev/schminput",
]
