[graph]
all-features = true
# cargo-deny is really only ever intended to run on the "normal" tier-1 targets
targets = [
    "x86_64-unknown-linux-gnu",
    "aarch64-unknown-linux-gnu",
    "x86_64-unknown-linux-musl",
    "aarch64-apple-darwin",
    "x86_64-apple-darwin",
    "x86_64-pc-windows-msvc",
]

[advisories]
unmaintained = "workspace"

[licenses]
allow = [
	"0BSD",
	"Apache-2.0",
	"Apache-2.0 WITH LLVM-exception",
	"BSD-2-Clause",
	"BSD-3-Clause",
	"BSL-1.0",
	"CC0-1.0",
	"ISC",
	"MIT",
	"MIT-0",
	"Unlicense",
	"Zlib",
	"MPL-2.0",
	"LicenseRef-ring",
]

[[licenses.exceptions]]
name = "unicode-ident"
allow = ["Unicode-3.0"]

[[licenses.exceptions]]
# https://github.com/emilk/egui/issues/2321
name = "epaint"
allow = ["OFL-1.1", "LicenseRef-UFL-1.0"]

[[licenses.clarify]]
name = "ring"
expression = "LicenseRef-ring"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 },
]

[bans]
multiple-versions = "warn"
# Certain crates that we don't want multiple versions of in the dependency tree
deny = [
	{ name = "bevy", deny-multiple-versions = true },
	{ name = "tokio", deny-multiple-versions = true },
]
skip-tree = [
    { crate = "windows-sys", reason = "a foundational crate for many that bumps far too frequently to ever have a shared version" },
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
# please don't make this list any longer qwq
allow-git = [
	"https://github.com/Ralith/openxrs",
]
