
[package]
name = "nx-core"
version = "0.0.0"
description = "The main Nexus plugin"

license.workspace = true
repository.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
bevy.workspace = true
